<%= form_for @home do |f| %>
	<h5 class="center">Address</h5>
	<div class="input-field">
		<%= f.text_field :line_1 %>
		<%= f.label :line_1 %>
	</div>
	<div class="input-field">
		<%= f.text_field :line_2 %>
		<%= f.label :line_2 %>
	</div>
	<div class="input-field">
		<%= f.text_field :city %>
		<%= f.label :city %>
	</div>
	<div class="input-field">
		<%= f.text_field :state %>
		<%= f.label :state %>
	</div>
	<div class="input-field">
		<%= f.text_field :zip_code %>
		<%= f.label :zip_code %>
	</div>
	<h5 class="center">Info</h5>
	<div class="input-field">
		<%= f.number_field :price %>
		<%= f.label :price %>
	</div>
	<div class="input-field">
		<%= f.text_field :sqft %>
		<%= f.label :sqft %>
	</div>
	<div class="input-field">
		<%= f.number_field :bedrooms %>
		<%= f.label :bedrooms %>
	</div>
	<div class="input-field">
		<%= f.text_field :bathrooms %>
		<%= f.label :bathrooms %>
	</div>
	<div class="input-field">
		<%= f.text_area :description, class: "materialize-textarea" %>
		<%= f.label :description %>
	</div>
	<h5 class="center">Cover Photo</h5>
	<div class="file-field input-field">
		<div class="btn">
		<span>Choose File</span>
			<%= f.file_field :cover_photo %>
		</div>
		<div class="file-path-wrapper">
			<input class="file-path validate" type="text">
	  </div>
	</div>
	<div>
		<%= f.submit class: "btn btn-primary" %>
	</div>
<% end %>