<div class="row">
	<div class="container">
		<%= cl_image_tag(@home.cover_photo, height: 600, class: "home-show-img") %>
		<p><%= @home.description %></p>
    <ul>
    	<li>Square Feet: <%= @home.sqft %></li>
    	<li>Bedrooms: <%= @home.bedrooms %></li>
    	<li>Bathrooms: <%= @home.bathrooms %></li>
    	<br>
    	<li><%= @home.line_1 %></li>
    	<% if @home.line_2 %>
	    	<li><%= @home.line_2 %></li>
    	<% end %>
    	<li><%= @home.city %>, <%= @home.state %> <%= @home.zip_code %></li>
    </ul>
	</div>
</div>