<!DOCTYPE html>
<html>
<head>
  <title>TeamHadleyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="<%= @body_class %>">
	<nav>
    <div class="nav-wrapper">
      <div class="nav-container">
        <a href="/" class="brand-logo">Greg Hadley</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/homes">Featured Homes</a></li>
          <li><a href="#">Search for Homes</a></li>
          <li><a href="/posts">Blog</a></li>
          <% if current_user %>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/users/sign_in">Log In</a></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/homes">Featured Homes</a></li>
          <li><a href="#">Search for Homes</a></li>
          <li><a href="/posts">Blog</a></li>
          <% if current_user %>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/users/sign_in">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <main>
  	<%= yield %>
  </main>

  <footer class="page-footer">
    <div>
      <div class="row">
        <div class="col s12">
          <img class="footer-logo" src="http://res.cloudinary.com/dl5x2wgdv/image/upload/v1471241600/roglogo_qrb0d3.png" alt="Realty One Group Logo"/>
          <img class="footer-logo" src="http://res.cloudinary.com/dl5x2wgdv/image/upload/v1471241871/eqhousing_zwqmdm.gif" alt="Equal Housing Logo">
          <img class="footer-logo" src="http://res.cloudinary.com/dl5x2wgdv/image/upload/v1471242142/Realtor_MLS_j0qvoe.gif" alt="MLS Logo">
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
